// Specific CSS for your home-page
body {
  padding-top: 44px;
}

.home {
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: white;
}

.header {
  border-bottom: none;
  padding-top: 200px;
}


.field {
  font-size: 12px;
  margin-top: 30px;
}

.search-location {
  width: 300px;
  border-radius: 8px;
  height: 28px;
  padding: 8px;
  border: 0.5px solid white;
  background-color: #ffffff24;
}

.search-location::placeholder {
  color: white;

}

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.header-logo {
  font-family: $logo-font;
  font-style: bold;
  font-size: 50px;
}
