// Specific CSS for your home-page
.home {
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: white;
}

.card-header {
  border-bottom: none;
  padding-top: 240px;
}

body {
  padding-top: 66px;
}
