// Specific CSS for your home-page
.home {
  background-position: center;
  background-size: cover;
  height: 86vh;
  text-align: center;
  color: white;
}

.header {
  border-bottom: none;
  padding-top: 240px;
}

body {
  padding-top: 44px;
}

.field {
  font-size: 12px;
  margin-top: 30px;
}

.search-location {
  width: 300px;
  border-radius: 8px;
  height: 28px;
  padding: 8px;
  border: 0.5px solid white;
  background-color: transparent;
  color: white;
}
