<div class = "container">
<p>Start Date: <%= @booking.start_date.strftime("%b %d, %Y") %></p>
<p>End Date: <%= @booking.end_date.strftime("%b %d, %Y") %></p>
<p>Number of guests: <%= @booking.number_of_guests %></p>
<p> Status of the booking: <%= @booking.status %></p>
</div>
