
<div class="home" style="background-image: /*linear-gradient(to right, rgba(42,41, 39, 0.5),rgba(42,41, 39, 0.4)),*/ url(<%= image_path('family_home.jpg') %>)">
  <div class="header ">
    <h1>Experience life in a family</h1>
    <h4>Rent your family, feel at home and enjoy your new company</h4>
    </div>
    <div class="field">
     <%= form_for :search, url: fams_path, method: :get do |f| %>
     <%# f.label "Where do want to look for a family?"  %>
     <div>
       <%= f.text_field :location, placeholder:'Where do want to look for a family?', class: "search-location" %>
       <%= f.submit "Find Family", class: "btn-pink"%>
     </div>
     <% end %>
   </div>

</div>

