<div class="family">
<div class = 'container' >
  <div class="row-family justify-content-center">
    <div class="form-family col-10 p-3 mt-4 bg-light shadow-sm">
      <h2>Become a family!</h2>
      <%= render 'form', fam:@fam %>
    </div>
  </div>
</div>
</div>
