<h1><%= @fam.name %></h1>

<ul>
  <% @fam.pictures.each do |picture| %>
    <!-- `picture` here is an instance of the Picture model -->
    <li><%= cl_image_tag(picture.photo, width: 400, height: 300, crop: :fill) %></li>
  <% end %>
</ul>
<%= @fam.description %>


