
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1E2937;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.btn-flat:hover {
  background: #385273;
  color: white;
}

.btn-pink {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: #1E2937;
  transition: background 0.3s ease;
  margin-top: 10px;
  height: 32px;
  width: 80px;
  padding: opx;
  padding: 0px;
  margin-left: 16px;
  margin-top: 0px;
  border: 0.5px solid white;
}

.btn-pink:hover {
  background: #385273;
  color: white;
}
