
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.btn-flat:hover {
  background: #385273;
  color: white;
}

.btn-pink {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: #1E2937;
  transition: background 0.3s ease;
  margin-top: 10px;
  height: 32px;
  width: 80px;
  padding: 0px;
  margin-left: 16px;
  margin-top: 0px;
  border: 0.5px solid white;
}

.btn-pink:hover {
  background: grey;
  color: white;
}

.btn-pink .submit {
  font-size: 10px;
  width: 116px;
  height: 32px;
  margin-left: 208px;
  margin-top: 20px;
  }

.btn-search{
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: #1E2937;
  transition: background 0.3s ease;
  margin: auto;
  height: 24px;
  width: 58px;
  padding: opx;
  padding: 0px;
  margin-left: 3px;
  border: 0.5px solid white;
}

.btn-search:hover {
  background: #385273;
  color: white;
}


.btn-flat-profile {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
  margin-top: 10px;
  font-size: 8px;
    height: 19px;
    text-align: center;
    padding: 3px;
    width: 40px;
}



