.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 2px 0px -2px rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-details {
  background-color: #F2A095;
  text-align: center;
  color: white;
}

.card-details {
  background-color: white;
  margin: 2px 8px;
  padding: 8px;
  border-radius: 8px;
  color: black;
  text-align: left;
}
