// scss fams#show

.container-details {
  text-align: center;
}

.card-details {
  background-color: #ffffff7a;
  margin-top: -2px;
  padding: 10px;
  border-radius: 8px;
  color: $blue;
  text-align: left;
}

.booking-box {
  border: 2px solid $white;
  padding: 20px;
  border-radius: 8px;
}

.booking-box > form {
  width: 250px;
}

.images-card {
  justify-content: center;
}

// scss fams#index
.container-index {
  text-align: center;
  color: $blue;
  margin: 0px;
}



// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 10px;
//   margin: 15px;
// }

// .card-family {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   border-radius: 8px;
// }

// .card-family-image {
//   height: 120px;
//   width: 100%;
//   object-fit: cover;
// }

// .card-family h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-family p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }


// .card-family .card-family-info {
//   text-align: left;
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }

// .card-family .card-family-pricing {
//   // text-align: right;
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-families {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-families {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-families {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-families {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-families {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// scss page#home

.card-header {
  background-color: rgb(255,255,255);
  width: 550px;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}

.card-header:first-child {
    border-radius: 6px;
  }

.card-header form {
  font-size: 12px;
}

.card-header label {
  color: grey;
  margin: auto
}

.container {
}

