.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 2px 0px -2px rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-details {
  background-color: #F2A095;
  text-align: center;
  color: white;
}

.card-details {
  background-color: white;
  margin: 2px 8px;
  padding: 8px;
  border-radius: 8px;
  color: black;
  text-align: left;
}

.card-header {
  background-color: rgb(255,255,255);
  width: 550px;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}

.card-header:first-child {
    border-radius: 6px;
  }

.card-header form {
  font-size: 12px;
}

.card-header label {
  color: grey;
  margin: auto
}

.search-location {
  width: 300px;
  border-radius: 3px;
  height: 28px;
}
