.image-show-big {
  // margin-top: 25px;
  border-radius: 4px;
  width: 410px;
  height: 200px;
  object-fit: cover;
}

.image-bottom {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  margin: 5px;
}

.user-avatar-profile {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
