.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 45px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  padding-left: 24px;
  font-size: 12px;
}

.navbar form {
  font-size: 8px;
  height: 24px;
  width: 330px;
  border-radius: 10px;
}

.search {
  text-align: left;
}
.search-bar {
  width: 150px;
  border-radius: 10px;
  height: 24px;
  border: 0.5px solid lightgrey;
}

a {
  color: grey;

}

.nav-link a:hover {
  color: #385273;
  text-decoration: none;
}


.btn-search{
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: #1E2937;
  transition: background 0.3s ease;
  margin: auto;
  height: 24px;
  width: 58px;
  padding: 0px;
  margin-left: 3px;
  border: 0.5px solid white;
}

.btn-search:hover {
  background: grey;
  color: white;
}
