.form-new-user h2 {
  text-align: center;
  font-size: 24px;
}

.form-new-user label {
  font-size: 12px;
}

.form-new-user input {
  font-size: 12px;
}

.new-user {
  background-image: url(asset-path('family_sunset.jpg'));
  position: -webkit-sticky;
  position:sticky;
  top:0;
  background-position: center;
  background-size: cover;
  height: 86vh;
  margin-top: 21px;
}

.row-new-user {
  height: 80vh;
  padding-top: 35px;
  padding-bottom: 27px;
}

.form-new-user {
  overflow: scroll;
  height: 100%;
  margin: auto;
  border-radius: 8px;
}

.log-in-link {
  font-size: 12px;
  padding-top: 16px;
}


